input[type="text"] {
    border: 2px solid blueviolet;
    font-size: 16px;
    border-radius: 4px;
}
input[type="password"] {
    border: 2px solid purple;
    font-size: 14px;
    border-radius: 4px;
}
ul > li {
    list-style: circle ;
    font-size: 16px;
    color: brown;
}
h1 + p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
}
a:hover {
    color: brown;
    font-size: 20px;
}
li:nth-child(2){
    background-color: aquamarine;
}
p::first-letter {
    font-size: 200%;
    color: brown;
    font-weight: bold;
}
h1::before {
    content: "⭐";
        
}
h1::after {
    content:"⭐" ;
}